<div style="margin-top: 15px; font-size: 24px; font-weight: 700; color: #805AD5;"><b>{{eventName}}</b></div>
<div style="margin-top: 15px;">We regret to inform you that the event has been cancelled :(</div>
<div style="margin-top: 15px;">We apologize for any inconvenience this may cause.</div>
<div style="margin-top: 5px;">Thank you for your understanding.</div>
