<div style="margin-top: 15px; font-size: 24px; font-weight: 700;"><b>{{eventName}}</b></div>
<div style="margin-top: 27px;">Thank you for your interest! Admin of the event received information about your</div>
<div style="margin-top: 10px; margin-bottom: 25px">application. You will receive an email notification right after their approval.</div>
