<div style="margin-top: 15px; font-size: 24px; font-weight: 700;"><b>{{{eventName}}}</b></div>
<div style="margin-top: 15px;">An user has expressed interest in seeing more events similar to {{eventName}}. Check out their message below:</div>
<div style="margin-top: 15px;">{{body}}</div>
